@import "tailwindcss";

@theme {
  --color-brand-gold: #f8d7a2;
  --color-brand-orange: #e76c24;
  --color-brand-dark: #151618;
  --color-brand-light: #dddcd3;

  --font-sans: var(--font-excentra), sans-serif;
}

.a11y-theme {
  --color-brand-light: #fff;
  --color-brand-dark: #000;
  --color-brand-gold: #fff;
  font-size: 125%;
}
